<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">

    <div class="d-flex justify-content-between align-items-center">
        <h1>add new news page</h1>
        <a href="/news" class="btn btn-danger">cancel</a>
    </div>

    <!--/* @thymesVar id="validError" type="java.lang.String" */-->
    <div class="text-danger" th:if="${validError}" th:text="${validError}"></div>

    <!--/* @thymesVar id="prevData" type="pl.cansoft.spring4.models.News" */-->
    <form class="row g-3" th:action="'/news/add'" method="post">
        <div class="col-auto">
            <label class="col-form-label">Add news to list</label>
        </div>
        <div class="col-auto">
            <input th:value="${ prevData != null ? prevData.getTitle() : '' }" class="form-control"
                   placeholder="Write title"
                   name="title"/>
        </div>
        <div class="col-auto">
            <textarea th:utext="${ prevData != null ? prevData.getContent() : '' }" class="form-control"
                      placeholder="Write content"
                      name="content" id="editor"></textarea>
        </div>
        <div class="col-auto">
            <button class="btn btn-success">Add</button>
        </div>
    </form>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
