<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">

    <div class="d-flex justify-content-between align-items-center">
        <h1>edit news page</h1>
        <a href="/news" class="btn btn-danger">cancel</a>
    </div>

    <!--/* @thymesVar id="validError" type="java.lang.String" */-->
    <div class="text-danger" th:if="${validError}" th:text="${validError}"></div>

    <!--/* @thymesVar id="prevData" type="pl.cansoft.spring4.models.News" */-->
    <form class="row g-3" th:action="'/news/edit/' + ${news.getId()}" method="post">
        <div class="col-auto">
            <label class="col-form-label">Edit news</label>
        </div>
        <div class="col-auto">
            <input th:value="${prevData != null ? prevData.getTitle() : news.getTitle()}" required class="form-control"
                   name="title" placeholder="Write title"/>
        </div>
        <div class="col-auto">
            <textarea id="editor" required class="form-control" name="content" placeholder="Write content"
                      th:utext="${prevData != null ? prevData.getContent() : news.getContent()}"></textarea>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning">Edit</button>
        </div>
    </form>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
