<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">

    <div class="d-flex justify-content-between align-items-center">
        <h1>news page</h1>
        <a sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" href="/news/add-form" class="btn btn-success">add new news</a>
    </div>

    <div>
        <form class="row g-3">
            <div class="col-auto">
                <input th:value="${q}" name="q" required type="search" class="form-control"
                       placeholder="Write keywords">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary mb-3">Search</button>
                <a href="/news" class="btn btn-danger mb-3">Reset</a>
            </div>
        </form>
    </div>

    <div class="card mb-3" th:each="item : ${list}">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h3 th:text="${item.getTitle()}"></h3>
                <span th:utext="${item.getContent()}"></span>
            </div>
            <div sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                <a th:href="'/news/delete/' + ${item.getId()}" class="btn btn-sm btn-danger m-1">remove</a>
                <a th:href="'/news/edit-form/' + ${item.getId()}" class="btn btn-sm btn-warning m-1">edit</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
