<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">
    <h1>
        product: <span th:text="${product.getName()}"></span>
    </h1>
    <p th:text="${product.getDescription()}"></p>
    <div class="d-flex gap-3">
        <img class="img-thumbnail product-image" th:each="image : ${product.getImage()}" th:src="${image.getUrl()}"/>
    </div>
    <hr/>
    <p>Belongs to:</p>
    <ul>
        <li th:each="category : ${product.getCategory()}">
            <a th:href="${'/category/' + category.getId()}" th:text="${category.getName()}"></a>
        </li>
    </ul>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
