<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">
    <h1>
        category: <span th:text="${category.getName()}"></span>
    </h1>
    <p th:text="${category.getDescription()}"></p>
    <div th:if="${category.getImage() != null}">
        <img class="img-thumbnail category-image" th:src="${category.getImage().getUrl()}"/>
    </div>
    <ul>
        <li th:each="product : ${products}">
            <a th:href="${'/product/' + product.getId()}" th:text="${product.getName()}"></a>
        </li>
    </ul>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
