<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">

    <div class="d-flex justify-content-between align-items-center">
        <h1>add new user page</h1>
        <a href="/user" class="btn btn-danger">cancel</a>
    </div>

    <form class="row g-3" th:action="'/user/add'" method="post">
        <div class="col-auto">
            <label class="col-form-label">Add user to list</label>
        </div>
        <div class="col-auto">
            <input class="form-control" required placeholder="Write first name" name="firstName"/>
        </div>
        <div class="col-auto">
            <input class="form-control" required placeholder="Write last name" name="lastName"/>
        </div>
        <div class="col-auto">
            <input class="form-control" required placeholder="Write email" name="email" type="email"/>
        </div>
        <div class="col-auto">
            <input class="form-control" required placeholder="Write password" name="password" type="password"/>
        </div>
        <div class="col-auto">
            <select class="form-select" name="role">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-success">Add</button>
        </div>
    </form>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
