<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">

    <div class="d-flex justify-content-between align-items-center">
        <h1>edit user page</h1>
        <a href="/user" class="btn btn-danger">cancel</a>
    </div>

    <form class="row g-3" th:action="'/user/edit/' + ${user.getId()}" method="post">
        <div class="col-auto">
            <input th:value="${user.getFirstName()}" required class="form-control" placeholder="Write first name"
                   name="firstName"/>
        </div>
        <div class="col-auto">
            <input th:value="${user.getLastName()}" required class="form-control" placeholder="Write last name"
                   name="lastName"/>
        </div>
        <div class="col-auto">
            <input th:value="${user.getEmail()}" class="form-control" required placeholder="Write email" name="email"
                   type="email"/>
        </div>
        <div class="col-auto">
            <input class="form-control" required placeholder="Write password" name="password" type="text"/>
        </div>
        <div class="col-auto">
            <select class="form-select" name="role">
                <option th:selected="${user.getRole().equals(role)}"
                        th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning">Edit</button>
        </div>
    </form>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
