<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/menu"></div>

<div class="container mt-3">

    <div class="d-flex justify-content-between align-items-center">
        <h1>user page</h1>
        <a sec:authorize="hasRole('ADMIN')" href="/user/add-form" class="btn btn-success">add new user</a>
    </div>

    <div>
        <form class="row g-3">
            <div class="col-auto">
                <input th:value="${q}" name="q" required type="search" class="form-control"
                       placeholder="Write keywords">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary mb-3">Search</button>
                <a href="/user" class="btn btn-danger mb-3">Reset</a>
            </div>
        </form>
    </div>

    <div class="card mb-3" th:each="item : ${list}">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <span th:text="${item.getFirstName()}"></span>
                <span th:text="${item.getLastName()}"></span>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="'/user/delete/' + ${item.getId()}" class="btn btn-sm btn-danger m-1">remove</a>
                <a th:href="'/user/edit-form/' + ${item.getId()}" class="btn btn-sm btn-warning m-1">edit</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts"></div>
</body>
</html>
