<nav class="navbar navbar-expand-lg bg-light" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">WebCoders</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/category">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about-us">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/news">News</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" aria-current="page" href="/user">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="'/logout'" method="post">
                        <button class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
