<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/js/ckeditor.js"></script>
<script>
  const editor = document.querySelector('#editor');
  if (editor) {
    ClassicEditor.create(editor, {licenseKey: ''})
      .then(editor => window.editor = editor)
      .catch(error => console.error(error));
  }
</script>
